@font-face {
    font-family: 'Roboto Flex';
    src: url('/static/fonts/RobotoFlex-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto Flex', sans-serif;
    font-size: small;
    background-image: linear-gradient(to right, white, gray);
    padding-top: 20px; /* Adjust padding to ensure enough space for the navbar */
}

h1 {
    margin-top: 0;
    padding-top: 5px; /* Fine-tune spacing below navbar */
    text-align: center;
}


/* Navbar Styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-container {
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 8px 12px;
    transition: background 0.2s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Content Styling */
.describes {
    position: absolute;
    top: 200px;
    left: 400px;
    font-size: 3em;
}

.button-container {
    position: absolute;
    top: 300px;
    left: 550px;
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.button {
    padding: 10px 20px;
    font-size: 2em;
    cursor: pointer;
    border: 5px solid black;
    border-radius: 50px;
    width: 200px;
    height: 200px;
    background-color: white;
    transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.button:hover {
    background-color: #e0e0e0;
    border-color: #555;
    transform: scale(1.03);
}

p {
    color: gray;
    font-size: 15px;
}

h4 {
    font-size: large;
}

.startup_name {
    font-family: 'Roboto Flex', sans-serif;
    color: black;
    font-size: medium;
}

section {
    padding: 40px 20px;
}

.about{
    text-align: center;
}

.contact{
    text-align: center;

}

hr{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: 20px;
}
.submissions-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ensures 5 items per row if space allows */
    gap: 20px; /* Adds spacing between items */
    padding: 20px;
    list-style:none;
}

.submission-item {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
}

.submission-item:hover {
    transform: scale(1.02);
}

.contactthis{
    cursor: pointer;
}