<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/logo.ico">
    </head>
    <body bgcolor = "">
        <nav class="navbar">
            <div class="nav-container">
                <a href="/" class="nav-logo">Investify</a>
                <ul class="nav-links">
                    <li><a href="business_owner">Business Owner Home</a></li>
                    <li><a href="investor">Investor Home</a></li>
                </ul>
            </div>
        </nav>
        <div class = "about">
        <h1>About investify</h1>
        <hr>
        <hr>
        <h2>Some Background</h2>
        <hr>
        <h3>Investify is a hackathon project created by Kaartik Bhatia on the 22nd of October, 2024. This project was created for HackCreate, a post - 
            hackathon competition hosted by HackGwinnet.
        </h3>
        <hr>
        <hr>
        <h2>What we do</h2>
        <hr>
        <hr>
        <h3>Nowadays, finding investors as a small business owner has gotten pretty difficult. You either have to attempt to get a spot on Shark Tank or
             know someone personally. Investify helps you make those personal connections. From person - to - person interactions or online communication. 
             Investify helps your business grow quicker. Make your first post today! Just go to the small business owner page. If you want to invest, go to Investor home and 
             you can either view all submissions or use our AI business recommender!
        </h3>
        <hr>
        <hr>
        </div>
    </body>
</html>