<!DOCTYPE html>
<html>
    <head>
        <title>Contact Me</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href="/static/logo.ico">
    </head>
    <body bgcolor = "">
        <nav class="navbar">
            <div class="nav-container">
                <a href="/" class="nav-logo">Investify</a>
                <ul class="nav-links">
                    <li><a href="business_owner">Business Owner Home</a></li>
                    <li><a href="investor">Investor Home</a></li>
                </ul>
            </div>
        </nav>
        <div class = "contact">
            <h1>Contact Me</h1>
            <hr>
            <hr>
            <h2>Having Trouble? Reach me at:</h2>
            <hr>
            <hr>
            <h3>kaartikbhatia@gmail.com</h3>
            <hr>
            <hr>
            <h3>+1 404-447-1207</h3>
        </div>

    </body>
</html>