<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Investor Page</title>
        <link rel="icon" type="image/x-icon" href="/static/logo.ico">
        <link rel="stylesheet" href="{{ url_for('static', filename='investorstyles.css') }}">
        <script src="{{ url_for('static', filename='investorscript.js') }}"></script>
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-container">
                <a href="/" class="nav-logo">Investify</a>
                <ul class="nav-links">
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </nav>
        
        <h1>Investor Submissions</h1>
        <div class="business_box">
            <ul>
                {% for submission in submissions %}
                <li>
                    <strong>Idea:</strong> {{ submission.idea }}<br>
                    <strong>Description:</strong> {{ submission.description }}<br>
                    <strong>Funding Needs:</strong> {{ submission.funding_needs }}<br>
                    <strong>Phone:</strong> {{ submission.phone }}<br>
                    <strong>Email:</strong> {{ submission.email }}<br>
                    <button  target = "__blank" onclick="openMail('{{ submission.email }}')">Contact this business</button>
                </li>
                <hr>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>
